body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #f4f4f4;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}

p {
    text-align: end;
}

ul {
    text-align: center;
    text-decoration: double;
}